<!doctype html>
<html lang="gr">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/rendezvous-form.css">
</head>

<body class="d-flex flex-column vh-100">
    <div class="container">
        <div class=" topMargin20 bottomMargin20">
            <%- include('../partials/navbar'); %>
        </div>

        <div class="container topMargin20 bottomMargin20">
            <%- include('../partials/flash'); %>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Αρχική</a></li>
                    <li class="breadcrumb-item"><a href="/info/info-general">Κέντρο Πληροφοριών COVID-19</a></li>
                    <li class="breadcrumb-item"><a href="/ministry/contact">Στοιχεία επικοινωνίας Υπουργείου</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Κλείσιμο ραντεβού στο υπουργείο</li>
                </ol>
            </nav>
        </div>

    <div class="rendezvous-form" style="text-align: center;">
        <form action="/ministry/rantevou/make_a_date" method="POST">
              <div class="form-icon">
                 <span><i class="fa fa-plus" aria-hidden="true"></i></i></span>
              </div>
              <div class="form-group">
                  <label for="fname">Όνομα</label>
                 <input type="text" class="form-control item" id="fname" placeholder="Eπώνυμο" value="<%- currentUser.lastName %>" name="lname">
              </div>
              <div class="form-group">
                <label for="surname">Επίθετο</label>
                <input type="text" class="form-control item" id="surname" placeholder="Όνομα" value="<%- currentUser.firstName %>" name="fname">
             </div>
              <div class="form-group">
                <label for="email">Ηλεκτρονική Διεύθυνση</label>
                <input type="text" class="form-control item" id="email" placeholder="Email" value="<%- currentUser.email %>" name="email">
              </div>
              <div class="form-group">
                <label for="phone">Τηλέφωνο</label>
                <input type="tel" class="form-control item" id="phone" placeholder="Το τηλέφωνό σας" value="<%- currentUser.phone %>" name="phone">
             </div>
             <div class="form-group">
                 <label for="address">Διεύθυνση</label>
                <input type="text" class="form-control item" id="address" placeholder="Διεύθυνση" name="address">
             </div>
              <div class="form-group">
                  <label for="datetime">Ημερομηνία</label>
                <input type="datetime-local" class="form-control item" id="datetime" name="date" required>
             </div>
             <div class="form-group">
                 <label for="message">Αφήστε ένα μήνυμα</label>
                <input type="text" class="form-control item" id="message" placeholder="Ένα σύντομο μήνυμα">
             </div>

             <div class="form-group">
                <button class="btn btn-block create-account">Κλείσιμο ραντεβού</button>
             </div>
        </form>
     </div>
</div>

    <%- include('../partials/footer'); %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="/scripts/main.js" type="text/javascript"></script>
</body>

</html>